*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    /* font-family: 'Red Hat Display', sans-serif; */
}
body{
    position: relative;
}
#fondoow{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}




/* HEADER */
header{
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    top: 0;
    box-shadow: 0px 0px 10px #0009;
}
    #logo{
        width: 80px;
        height: 50px;
        text-align: center;
        margin: auto 20px;
    }
    #logo a{
        text-decoration: none;
        color: #000000;
    }
    #logo a:hover{
        color: #414141;
    }
        .l1{
            font-size: 28px;
            text-decoration: none;
            font-weight: 900;
        }
        .l2{
            font-size: 16px;
            font-weight: 900;
            position: relative;
            bottom: 5px;
        }


#nav{
    width: 40%;
    margin-right: 80px;
}
    #nav ul{
        display: flex;
        justify-content: space-between; 
    }
    #nav ul li{
        display: inline;
        margin-left: 0;
    }
    #nav ul li a{
        text-decoration: none;
        color: black;
        font-size: 14px;
        font-weight: 400;
    }
    #nav ul li a:hover{
        color: rgb(53, 53, 188);
        border-bottom: 2px solid rgba(5, 1, 130);
    }


footer{
    width: 100%;
    height: 120px;
    background-color: #2E4275;
}
    .pie{
        width: 60%;
        height: 100%;
        margin: auto;
    }
        .pie ul{
            list-style: none;
            padding: 30px 0;
            height: 100%;
            box-sizing: border-box;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            align-content: space-between;
        }
        .pie ul a{
            text-decoration: none;
            color: #d6c9b8;
        }
        .pie ul a li:hover{
            color: #fff;
            position: relative;
            left: 5px;
        }
        .pie ul li{
            color: #FFF3D3;
        }
        .redes{
            align-self: center;
            width: 130px;
        }
        .redes a{
            margin: auto 5%;
        }
        .end{
            margin-bottom: 10px;
        }
        .pie ul > .icon{
            width: auto;
            margin: 0;
            padding: 0;
            justify-content: space-evenly;
        }



/* SECTION 01 */
#inicio{
        width: 100%;
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 60px;

}
    .ft{
        width: 350px;
        height: 80%;
        background-image: url(https://ort.com.mx/wp-content/uploads/2020/08/ws.jpg);
        background-size: cover;
    }
    .info{
        width: 450px;
        height: 80%;
        box-sizing: border-box;
        padding: 50px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }
        .iarriba{
            width: 100%;
            color: white;
        }
            
            .iarriba ul{
                list-style: none;
                
            }
                .iarriba ul li{
                    font-size: 14px;
                    margin-bottom: 15px;
                }
                    .iarriba ul li b{
                        font-size: 15px;
                    }
                        .nombre{
                            margin-right: 5px;
                        }
                        .edad{
                            margin-right: 25px;
                        }
                        .paris{
                            margin-right: 31px;
                        }
                        .tab a{
                            margin-right: 50px;
                        }
                .iarriba ul .mm{
                    margin-bottom: 5px;
                    margin-left: 0;
                }
                .iarriba ul .tab{
                    margin-left: 72px;
                }
                .iarriba ul .tab a{
                    color: white;
                    text-decoration: none;
                    text-shadow: none;
                }

        .iabajo{
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            align-items: center;
        }
            .iabajo a{
                text-decoration: none;
                color: #FFF3D3;
                font-size: 15px;
                width: 80%;
                margin: 5px 20px;
            }
            .iabajo .share{
                padding: 0;
                margin: 0;
            }
            .icon{
                    margin: 15px auto;
                }
                .fa-facebook-f:hover{
                    color: #1773ea;
                    text-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
                }
                .fa-twitter:hover{
                    color: #00a6e8;
                    text-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
                }
                .fa-instagram:hover{
                    color: rgb(215, 17, 100);
                    text-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
                }
                .fa-imdb:hover{
                    color: #f5c518;
                    text-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
                }
                .iabajo a button{
                    background-color: #FECD4F;
                    color: black;
                    padding: 15px 10px;
                    border-radius: 0;
                    border: 0;
                    box-sizing: border-box;
                    font-size: 15px;
                    font-weight: bold;
                    width: 100%;
                    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
                }
                .iabajo a button:hover{
                    background-color: #FFF3D3;
                    color: rgb(107, 93, 76);
                    cursor: pointer;
                    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
                }
                .fa-share{
                    margin-left: 8px;
                }



/* SECTION 02 */
#cv{
    width: 80%;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 30px #0002;
    display: flex;
}
.section-info{
    width: 92%;
}
.minimenu{
    width: 8%;
    height: auto;
    background-color: #2E4275;
    border: 2px solid #E5E5E5;
    box-sizing: border-box;
}
    .boton{
        width: 50px;
        height: 50px;
        background-color: #FECD4F20;
        border: 1px solid #c4c4c4;
        border-radius: 15%;
        box-sizing: border-box;
        margin: 100px auto;
    }
        .-active{
            background-color: #FECD4F;
            box-shadow: 0 0 10px #fff5;
        }


    h3{
        font-size: 24px;
        text-align: center;
        margin: 50px;
    }

    .cv-info{
        width: 100%;
        height: 1750px;
        display: flex;
        flex-flow: column wrap;
        position: relative;
    }
        .cv-info > div{
            width: 50%;
            margin-bottom: 50px;
            padding: 0 50px;
            box-sizing: border-box;
        }
        .cv-info div:nth-child(3) ul{
            list-style: none;
            font-size: 14px;
            padding: 20px;
            box-sizing: border-box;
        }
        .cv-info div:nth-child(9){
            padding: 0 50px;
            box-sizing: border-box;
        }
        .cv-info div:last-child ul{
            list-style: none;
            box-sizing: border-box;
        }
        .slider{
            width: 100%;     
            height: 440px;       
            display: flex;
            flex-flow: column wrap;
            justify-content: space-evenly;
            align-content: center;
            align-items: center;
            gap: 20px;
        }
            .slider div{
                width: 200px;
                height: 200px;
                overflow: hidden;
                background-size: cover;
                background-position: center;
                box-shadow: 2px 2px 15px #0003;
            }
            .slider div:nth-child(1){
                background-image: url(https://es.web.img2.acsta.net/pictures/17/12/11/16/55/1011025.jpg);
            }
            .slider div:nth-child(2){
                background-image: url(https://www.nacionflix.com/__export/1595018440029/sites/debate/img/2020/07/17/en_busca_de_la_felicidad_una_pelxcula_para_ver_en_familia_este_fin_de_semana_en_hbo.jpg_1902800913.jpg);
            }
            .slider div:nth-child(3){
                background-image: url(https://zombiewarmanagement.com/wp-content/uploads/2019/09/gemini-man-intl-dgtl-tsr-1-sheet-esp-1556028319.jpg);
            }
            .slider div:nth-child(4){
                background-image: url(https://images.justwatch.com/poster/74659445/s592/soy-leyenda);
            }
            .music .slider div:nth-child(1){
                background-image: url(https://i.discogs.com/jtsRQhBk9UwhkVQo59KZfoTRE9XK1tFNNmlfFDF_rt0/rs:fit/g:sm/q:90/h:585/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTIwNjY4/NDEtMTI2MjAzMTE4/OS5qcGVn.jpeg);
            }
            .music .slider div:nth-child(2){
                background-image: url(https://m.media-amazon.com/images/I/61NFC6aXxGL._SL1057_.jpg);
            }
            .music .slider div:nth-child(3){
                background-image: url(https://is2-ssl.mzstatic.com/image/thumb/Music125/v4/83/86/2b/83862bab-beb9-5736-509e-74eb6f261e83/dj.qtjkodwa.jpg/1200x1200bf-60.jpg);
            }
            .music .slider div:nth-child(4){
                background-image: url(https://reggaetonsinlimite.b-cdn.net/wp-content/uploads/2018/09/Esta-Rico.jpg);
            }
        .premios div{
            width: 80%;
            height: 350px;
            margin: auto;
            padding: 0 50px;
            box-sizing: border-box;
            box-shadow: inset 0px 0px 15px #0001;
            overflow: scroll;
        }
            .premios div ul{
                list-style: inside;
                font-size: 14px;
            }
                .premios div ul li{
                    margin-bottom: 8px;
                    margin-left: 0;
                }
        .contacto > ul{
            padding: 0 50px;
            box-sizing: border-box;
            margin-bottom: 50px;
        }
        .contacto > ul > li:nth-child(2), li:nth-child(4){
            margin-left: 50px;
            box-sizing: border-box;
        }
            .icon{
                width: 80%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
            }
            .contacto .icon a{
                display: inline;
                font-size: 20px;
                color: #666;
            }

            .cv-info div b{
                font-size: 20px;
                text-align: center;
                display: inline-block;
                width: 100%;
                margin-bottom: 20px;
            }
            .cv-info div p{
                font-size: 15px;
                margin-bottom: 10px;
                padding: 0 20px;
                box-sizing: border-box;
            }
            .cv-info div a{
                font-size: 13px;
                text-decoration: none;
                color: #999;
                display: inline-block;
                width: 100%;
                text-align: center;
            }
        .cv-info span{
            display: block;
            width: 30%;
            height: 2px;
            border-radius: 2px;
            background-color: #ddd;
            margin: 0 auto 50px auto;
        }
        #cv .cv-info span:nth-child(8){
            position: absolute;
            margin: 0;
            top: 50%;
            left: -15%;
            background-color: #1773ea;
            width: 1500px;
            transform: rotate(90deg);
            /* MOSTRAR O NO */
            display: none;
        }
    











/* RESPONSIVE DESIGN */
@media screen and (min-width: 1201px){
    
    .cv-info{
        height: 1800px;
    }
}




/* GRANDES 1200 */
@media screen and (min-width: 991px) and (max-width: 1200px){

    .cv-info{
        height: 1480px;
    }
    .slider{
        height: 250px;
        flex-flow: column wrap;
        align-content: flex-start;
        overflow: scroll;
        background-color: #FECD4F;
        box-shadow: inset 0 0 10px #0001;
    }
    
    footer{
        height: 128px;
    }
    .pie{
        width: 80%;
    }
}





/* MEDIANOS 990 */
@media screen and (min-width: 601px) and (max-width: 990px){

    #nav{
        width: 100px;
        height: 100px;
        margin-right: 20px;
        background-image: url(https://pixsector.com/cache/f5c37214/av089223b78f583a8e8d6.png);
        background-size: cover;
    }
        /* #nav ul{
            flex-flow: column nowrap;
            width: 100%;
        }
            #nav ul li{
                width: 100%;
                height: 100px;
                background-color: #fff;
                border: 1px solid black;
                text-align: center;
                line-height: 100px;
            }
            #nav ul li a{
                font-size: 36px;
                font-weight: 700;
            } */
    #nav:hover{
        width: 100%;
        height: 500px;
        position: absolute;
        top: 60px;
        z-index: 500;
        background-color: #00a6e8;
        background-image: none;
        cursor: pointer;
    }


    .info{
        width: 40%;
        padding: 30px 0 30px 5%;
    }
    .ft{
        width: 35%;
        height: 80%;
        background-position-x: center;
        box-shadow: 5px 5px 15px #0002;
    }
    .iabajo a{
        font-size: 21px;
    }


    #cv{
        flex-flow: column nowrap;
    }
        .minimenu{
            width: 100%;
            height: 80px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
        }
            .boton{
                margin: auto;
            }
        .section-info{
            width: 100%;
        }
            h3{
                font-weight: 900;
                color: #ddd;
            }
        .cv-info{
            height: auto;
        }
            .cv-info > div{
                width: 100%;
            }

            .slider{
                height: 250px;
                flex-flow: column wrap;
                align-content: flex-start;
                overflow: scroll;
                background-color: #FECD4F;
                box-shadow: inset 0 0 10px #0001;
            }
            .cv-info span{
                width: 65%;
            }


    footer{
        height: 200px;
    }
    .pie{
        width: 70%;
    }
    .pie ul a{
        margin-bottom: 8px;
    }
    .pie ul > li{
        margin-top: 5px;
    }
    .end{
        margin-bottom: 0;
    }
}





/* PEQUEÑOS 600 */
@media screen and (max-width:600px){
    #nav{
        width: 100px;
        height: 100px;
        margin-right: 20px;
        background-image: url(https://pixsector.com/cache/f5c37214/av089223b78f583a8e8d6.png);
        background-size: cover;
    }
    #nav:hover{
        width: 100%;
        height: 500px;
        position: absolute;
        top: 60px;
        z-index: 500;
        background-color: #00a6e8;
        background-image: none;
        cursor: pointer;
    }


    #inicio{
        flex-flow: column nowrap;
        height: 700px;
    }
        .ft{
            width: 70%;
            margin-top: 50px;
        }
        .info{
            width: 90%;
            padding-top: 20px;
        }


    #cv{
        flex-flow: column nowrap;
    }
        .minimenu{
            width: 100%;
            height: 80px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
        }
            .boton{
                margin: auto;
            }
        .section-info{
            width: 100%;
        }
            h3{
                font-weight: 900;
                color: #ddd;
            }
        .cv-info{
            height: auto;
        }
            .cv-info > div{
                width: 100%;
            }

            .slider{
                height: 250px;
                flex-flow: column wrap;
                align-content: flex-start;
                overflow: scroll;
                background-color: #FECD4F;
                box-shadow: inset 0 0 10px #0001;
            }
            .cv-info span{
                width: 65%;
            }
    .contacto .icon a, .icon a{
        font-size: 30px;
        text-shadow: 0 0 15px #0002;
    }

    footer{
        height: 550px;
    }
    .pie{
        width: 70%;
    }
    .pie ul{
        flex-flow: column nowrap;
        justify-content: space-around;
    }
    .pie ul a{
        margin: 10px auto;
    }
    .pie ul > li{
        text-align: center;
        margin: 50px auto 10px auto;
    }
    .pie .end{
        margin-bottom: 30px;
    }
}